ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: oklch(0.556 0 0);
}

footer {
    padding: 64px 16px;
    background-color: rgb(10, 10, 10);
    border-top: 1px solid rgb(38, 38, 38);
    color: oklch(0.556 0 0);
}


footer .row .shadow-one {
    top: 0;
    left: 15%;
    width: 384px;
    height: 384px;
    background-color: rgba(249, 115, 22, 0.05);
    border-radius: 9999px;
    filter: blur(64px);
}

footer .row .shadow-two {
    bottom: 0;
    right: 15%;
    width: 384px;
    height: 384px;
    background-color: rgba(234, 179, 8, 0.05);
    border-radius: 9999px;
    filter: blur(64px);
}



/* ====== colem one ===== */

footer .inner .box {
    margin: 0px 0px 24px;
}

footer .inner .box-log {
    width: 44px;
    height: 44px;
    box-shadow: rgba(249, 115, 22, 0.3) 0px 4px 20px;
    background: linear-gradient(to bottom right in oklab, oklch(70.5% .213 47.604), oklch(64.6% .222 41.116));
    border-radius: 12px;
}

footer .inner .box-log span {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #fff;
}

footer .inner .box-content span {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #fff;
}

footer .inner p {
    margin: 0px 0px 24px;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
}

footer .inner .box-icon div {
    width: calc(.25rem * 10);
    height: calc(.25rem * 10);
    border: 1px solid rgb(38, 38, 38);
    background-color: rgb(26, 26, 26);
    border-radius: 12px;
    transition: all .3s;
}

footer .inner .box-icon div a {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: oklch(0.556 0 0);
    transition: all .3s;
    text-decoration: none;
}


footer .inner .box-icon div:hover {
    transform: scale(1.2);
    background: linear-gradient(to bottom right in oklab, oklch(70.5% .213 47.604), oklch(64.6% .222 41.116));
}

footer .inner .box-icon div:hover a {
    color: white;
}


/* ====== colem two and three ===== */

footer .inner .box .box-line {
    width: calc(.25rem * 8);
    height: calc(.25rem * .5);
    background: linear-gradient(to right in oklab, oklab(69.961% 0.1442 0.14136), lab(76.05% 11.27 78.88));
}

footer .inner .box .box-conten {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
}

footer .inner .link ul li {
    margin-bottom: 16px;
}

footer .inner .link ul li a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

footer .inner .link ul li a i {
    opacity: 0;
    transform: translateX(-15px);
    color: rgb(255, 105, 0);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 14px;
    order: -1;
}

footer .inner .link ul li a:hover {
    color: rgb(255, 105, 0);
    transform: translateX(-8px);
}

footer .inner .link ul li a:hover i {
    opacity: 1;
    transform: translateX(0);
}


/* ====== colem four ===== */

footer .inner p.four {
    margin: 0px 0px 16px;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
}


footer .inner .form-input .box-input {
    margin: 0px 0px 12px;
}

footer .inner .form-input .box-input input {
    width: 90%;
    padding: 12px 16px;
    background-color: #161616;
    border: 1px solid #262626;
    border-radius: 12px;
    font-size: 14px;
    color: #fff;
}

footer .inner .form-input .box-input input::placeholder {
    color: #525252;
}

footer .inner .form-input .box-input input:focus {
    --tw-outline-style: none;
    outline-style: none;
    box-shadow: 0 0 0 calc(1px + 0) oklch(70.5% .213 47.604);
    border-color: oklch(70.5% .213 47.604);
}

footer .inner .form-input .btn {
    width: 100%;
}

footer .inner .form-input .btn button {
    width: 100%;
    padding: 16px 32px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    background: linear-gradient(135deg, #f97316, #ea580c);
    border: 1px solid #ea580c;
    border-radius: 3.40282e38px;
    color: #fff;
    transition: all .3s;
}

footer .inner .form-input .btn button:hover {
    transform: translateY(-3px);
}


/* ====== footer-bottom ======= */

.footer-bottom {
    margin-top: 30px;
    border-top: 1px solid #262626;
    padding: 24px 32px;
}


.footer-bottom .copyright p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #525252;
}

.footer-bottom .copyright p i {
    color: #FF6900;
}

.footer-links a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #525252;
    transition: all .3s;
}

.footer-links a:hover {
    color: oklch(70.5% .213 47.604);
}



/* lg 992px  -->       */
@media screen and (min-width:992px) {
    .lg-50 {
        width: 50%;
    }

    .lg-33 {
        width: 33.333%;
    }

    .lg-25 {
        width: 25%;
    }

    .lg-20 {
        width: 20%;
    }

    .lg-16 {
        width: 16.66%;
    }


    footer {
        padding: 64px;
    }
}