nav {
    background-color: rgba(10, 10, 10, 0.95);
    z-index: 99999999999;
}

nav .box-log {
    cursor: pointer;
}

nav .box-log .box-img img {
    width: 48px;
    height: 48px;
    transition: all .3s;
}

nav .box-log .box-img:hover img {
    transform: scale(1.1);
}

nav .box-log .box-content p {
    margin: 0;
}

nav .box-log .box-content p.one {
    color: white;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

nav .box-log .box-content p.two {
    color: #ff8904cc;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}


nav .navbar-nav {
    background-color: transparent;
    padding: 0px;
    border: none;
    border-radius: 0;
}

nav .navbar-collapse {
    background-color: rgba(22, 22, 22);
    padding: 16px;
    border: 1px solid rgb(38, 38, 38);
    border-radius: 12px;
}


nav .navbar-nav .nav-item a {
    padding: 10px 20px;
    color: #a1a1a1;
    font-size: 14px;
    line-height: 20px;
    font-size: 500;
    transition: all .3s;
}

nav .navbar-nav .nav-item a:not(.active):hover {
    color: #fff;
    background-color: rgb(26, 26, 26);
    border-radius: 12px;
}

nav .navbar-nav .nav-item a.active {
    background: color-mix(in oklab, oklch(70.5% .213 47.604) 10%, transparent);
    border: 1px solid color-mix(in oklab, oklch(70.5% .213 47.604) 30%, transparent);
    border-radius: 12px;
    color: oklch(70.5% .213 47.604);
}

nav .box-scearch {
    width: 46px;
    height: 46px;
    padding: 12px;
    color: oklch(55.6% 0 0);
    cursor: pointer;
    border-radius: 12px;
    transition: all .3s;
}

nav .box-scearch:hover {
    border: 1px solid rgb(38, 38, 38);
    color: oklch(70.5% .213 47.604);
}

nav .box-btn {
    width: 100%;
}

nav .box-btn button {
    width: 100%;
    padding: 16px 32px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background: linear-gradient(135deg, rgb(249, 115, 22), rgb(234, 88, 12));
    border-radius: 3.40282e+38px;
    border: 0;
    font-weight: 600;
    transition: all .3s;
}

nav .box-btn button:hover {
    transform: translateY(-2px);
}

.navbar-toggler {
    padding: 12px;
    border-radius: 12px;
    color: #a1a1a1;
    transition: all .3s;
}

.navbar-toggler:hover {
    border: 1px solid rgb(38, 38, 38);
    color: oklab(0.999994 0.0000455678 0.0000200868);
}

.navbar-toggler:focus {
    box-shadow: none;
}




/* md 768px  -->    */
@media screen and (min-width:768px) {
    .md-50 {
        width: 50%;
    }

    .md-33 {
        width: 33.333%;
    }

    .md-25 {
        width: 25%;
    }

    .md-20 {
        width: 20%;
    }

    .md-16 {
        width: 16.66%;
    }

}

/* lg 992px  -->       */
@media screen and (min-width:992px) {
    .lg-50 {
        width: 50%;
    }

    .lg-33 {
        width: 33.333%;
    }

    .lg-25 {
        width: 25%;
    }

    .lg-20 {
        width: 20%;
    }

    .lg-16 {
        width: 16.66%;
    }



    nav .navbar-nav {
        background-color: rgba(22, 22, 22);
        padding: 6px;
        border: 1px solid rgb(38, 38, 38);
        border-radius: 3.40282e+38px;
    }

    nav .navbar-collapse {
        background-color: transparent;
        padding: 0px;
        border: none;
        border-radius: 0;
    }


    nav .navbar-nav .nav-item a.active {
        background: linear-gradient(to right, oklch(70.5% .213 47.604), oklch(64.6% .222 41.116));
        border-radius: 3.40282e+38px;
        color: #fff;
    }

    nav .navbar-nav .nav-item a:not(.active):hover {
        color: #fff;
        background-color: transparent;
        border-radius: 0px;
    }
}